<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인</h1>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" placeholder="사용자 이름" id="username" name="username" required></p>
        <p><input type="password" placeholder="비밀번호" id="password" name="password" required></p>
        <button type="submit">로그인</button>
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>